@page
@model Website.Pages.Products.CreateProductModel;

@{
}


<form method="post">

    <div class="form-group"> 
        <label asp-for="CreateProductRequest.Name"></label>
        <input asp-for="CreateProductRequest.Name" />
    </div>
    <div class="form-group"> 
        <label asp-for="CreateProductRequest.Description"></label>
        <input asp-for="CreateProductRequest.Description" />
    </div>
    <div class="form-group"> 
        <label asp-for="CreateProductRequest.SmallDescription"></label>
        <input asp-for="CreateProductRequest.SmallDescription" />
    </div>
    <div class="form-group"> 
        <label asp-for="CreateProductRequest.StarCount"></label>
        <input asp-for="CreateProductRequest.StarCount" />
    </div>
    <div class="form-group"> 
        <label asp-for="CreateProductRequest.Price"></label>
        <input asp-for="CreateProductRequest.Price" />
    </div>
    <div class="form-group"> 
        <label asp-for="CreateProductRequest.Inventory"></label>
        <input asp-for="CreateProductRequest.Inventory" />
    </div>
    <div class="form-group"> 
        <label asp-for="CreateProductRequest.Review"></label>
        <input asp-for="CreateProductRequest.Review" />
    </div>

    <input type="submit"/>

</form>