@page
@model Website.Pages.Products.ShowMajorKeysModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <ul>
        @foreach (var x in Model.MajorKeysResponse)
        {
            <li>
                <a asp-page="/Products/UpdateMajorKey" asp-="@x.Id" asp-route-name="@x.Name" >@x.Name</a>
            </li>
        }
    </ul>
</div>
</body>
</html>